<!-- Modal Error -->
<div class="modal modal-countdown fade zoom info error" data-interval="5000" id="modalError">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> &#10006; </button>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="icon-info"><i class="icon  icon-alert"></i></div>
                    <p></p>
                </div>
                <div class="modal-countdown">window closes in <b class="count"></b> seconds</div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Error -->
<!-- Modal Success -->
<div class="modal modal-countdown fade zoom info success" data-interval="5000" id="modalSuccess">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="icon-info"><i class="icon icon-alert"></i></div>
                    <p></p>
                </div>
                <div class="modal-countdown">window closes in <b class="count"></b> seconds</div>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Success -->
<!-- Modal Quick View -->
<div class="modal quick-view zoom" id="quickView">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">&#10006;</button>
        </div>
        <div class="modal-content">
        </div>
    </div>
</div>
<!-- /Modal Quick View -->