{% assign product_image_size = settings.product_image_size %}
{% assign product_options = settings.product_options %}
{% if product.description contains 'product-image-size-small' %}{% assign product_image_size = '3' %}{% endif %}
{% if product.description contains 'product-image-size-medium' %}{% assign product_image_size = '4' %}{% endif %}
{% if product.description contains 'product-image-size-medium-x' %}{% assign product_image_size = '5' %}{% endif %}
{% if product.description contains 'product-image-size-big' %}{% assign product_image_size = '6' %}{% endif %}
{% if product.description contains 'product-options-select' %}{% assign product_options = 'select' %}{% endif %}
{% if product.description contains 'product-options-swatches' %}{% assign product_options = 'swatches' %}{% endif %}
{% assign sold_out = true %}
{% if product.available %}
    {% assign sold_out = false %}
{% endif %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
    {% assign on_sale = true %}
{% endif %}
<div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
    <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
    {% if design == 'default' %}{% include 'product-page-design-default' %}{% else %} {% include 'product-page-design-creative' %} {% endif %}
    {% include 'product-tabs' %}
</div>

{% if settings.product_related_enable %}
    {% include 'related-products' %}
{% endif %}