.megamenu ul.nav li:last-child a {
  background-color:#ff8100;
  color:#FFFFFF;
  /*line-height:40px;*/
  border-radius:0;
}
.megamenu {
  float:right;
  margin-right:40px;
}
body.page-index .page-main .hidden-xs {
    display: none;
}


@media only screen and (orientation: landscape) {
.mainSlider a.button {
   /* line-height: 35px !important;*/
  	font-size: 24px !important;
    line-height: 1.3 !important;
    font-weight: 700 !important;
    padding: 1.8rem 5.15rem 1.8rem !important;
    display: inline-block;
    cursor: pointer;
    min-width: 15rem;
    color: #fff;
    border-radius: .25rem !important;
}
  .mobile_slide {display:none;}
  .mainSlider .swiper-container #slide_2_1_text {
	 /* line-height:14px !important; */
    text-shadow:none !important; 
}

.mainSlider .swiper-container #slide_2_2_text {
 /* line-height:50px !important; */
  text-shadow:none !important; 
}
.mainSlider .swiper-container #slide_2_3_text {
	 /* line-height:150px !important; */
    text-shadow:none !important; 
}
.mainSlider .swiper-container #slide_3_1_text {
	 /* line-height:14px !important; */
	text-shadow:none !important; 
}

.mainSlider .swiper-container #slide_3_2_text {
	 /* line-height:50px !important; */
	text-shadow:none !important; 
}
}
.mobile_slide{
	background: #8d9598 url('https://cdn.shopify.com/s/files/1/1287/2247/t/12/assets/3piece-mobile-banner-bg.png?757630712346953937') no-repeat top center;
    text-align: center;
    background-position: 50% -17.813rem;
	padding:25px 0;
}
.mobile_slide .row h1 {
    font-size: 32px;
    margin: .5rem 0 .5rem;
    text-align: center;
	color: #fff;
    text-transform: uppercase;
	font-weight: 600;
    text-shadow: 0.125rem 0.125rem 0 rgba(0,0,0,0.5);
	font-family: proxima-nova,"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-style: normal;
    padding-bottom: 0;
}
.mobile_slide .btn-order-now {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    padding: .8rem 4.15rem .8rem;
    display: inline-block;
    cursor: pointer;
    min-width: 15rem;
    background-color: #fba035;
    color: #fff;
    border-radius: .25rem;
}.mobile_slide{
	background: #8d9598 url('https://cdn.shopify.com/s/files/1/1287/2247/t/12/assets/3piece-mobile-banner-bg.png?757630712346953937') no-repeat top center;
    text-align: center;
    background-position: 50% -17.813rem;
	padding:25px 0;
}
.mobile_slide .row h1 {
  font-size: 18px;
   /* font-size: 32px; */
    line-height: 34px;
    margin: .5rem 0 .5rem;
    text-align: center;
	color: #fff;
    text-transform: uppercase;
	font-weight: 600;
    text-shadow: 0.125rem 0.125rem 0 rgba(0,0,0,0.5);
	font-family: "proxima-nova",sans-serif;
    font-style: normal;
}
.mobile_slide .btn-order-now {
    font-size: 18px;
    line-height: 1.3;
    font-weight: 700;
    padding: .8rem 4.15rem .8rem;
    display: inline-block;
    cursor: pointer;
    min-width: 15rem;
    background-color: #fba035;
    color: #fff;
    border-radius: .25rem !important;
    font-family: "proxima-nova",sans-serif;
    border-color: #fba036 !important;
}

.mobile_slide img.img-responsive {
    width: 60%;
}

@media only screen and (min-width: 601px) and (max-width: 1025px) { 
  
    .mainSlider .swiper-container .text {
  	font-size:24px;
  }
  
}


@media only screen and (min-width: 1023px) and (max-width: 1024px) { 
  body.layout-advanced .nav > li > a:not(.menu-btn-special), body.layout-advanced .nav > li > a:not(.menu-btn-special):focus {
    font-size: 15px;
}
}

@media screen and (max-width: 600px) {
  .mainSlider .swiper-container {
  
    display:none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 768px) { 
  .mobile_slide {
  	display:none;
  }
  .mainSlider .swiper-container .text {
  	font-size:24px;
  }
  .mainSlider .swiper-container .button {
  	font-size:14px;
  }
}