<div class="block fullheight fullwidth page_404">
    <div class="container">
        <div class="image-404">
            <img src="{{ '404.png' | asset_url }}" alt="">
            <div class="text-404">{{ 'general.theme.title_404' | t }}</div>
        </div>
        <div><a href="/" onclick="history.go(-1);return false;" class="btn">{{ 'general.theme.home' | t }}</a></div>
    </div>
</div>